* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-container {
    display: flex;
    border-radius: 3%;
    height: 35rem;
    width: 45rem;
    background-color: #fff;
    overflow: hidden;

}

.container-left {
    width: 60%;
}

.header-container {
    text-align: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-container img{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.logo-container img:hover {
    transform: scale(1.5);
    transition: 0.3s;
    cursor: pointer;
}

.header-container h1 {
    font-size: 1.5rem;
    color: #fb5455;
}


.header-container p{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #1a2e35;
}

.inputs-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name, .email, .password {
    margin-top: 0.2rem;
    background-color: #f6f8fa;
    border: 2px solid #ced6da;
    border-radius: 0.4rem;
    padding: 0.5rem;
    padding-left: 2.2rem;
    outline: none;
    font-weight: 400;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    position: relative;
}

form div i {
    position: absolute;
    margin-top: 0.95rem;
    margin-left: 1rem;
}

.error {
    font-size: 14.5px;
    color: red;
}

.fa-user, .fa-envelope, .fa-lock {
    color: #838586;
}

.bottom-container {
    height: 100%;
    width: 100%;
}


.checkbox-element {
    margin-right: 0.5rem;
    vertical-align: middle;
    appearance: none;
    border-radius: 0.1rem;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fb5455;
}

.checkbox-element:after {
    content: '';
    position: absolute;
    opacity: 0;
    height: 6px;
    width: 3px;
    margin-bottom: 1px;
    transform: rotate(45deg);
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transition: all 400ms ease-in-out;
}

.checkbox-element:checked:after {
    opacity: 0.5;
}

.terms-containers {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.terms-containers input, label {
    text-align: center;
    font-size: 0.9rem;
}

.terms-containers label {
    cursor: pointer;
}

.terms-containers span {
    color: #fb5455;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.button-submit {
    background-color: #fb5455;
    color: #fff;
    border-radius: 0.4rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
    height: 3rem;
    width: 18rem;
    margin-top: 1rem;
    font-weight: bold;
}

.button-submit:hover {
    background: #fff;
    color: #fb5455;
    border: 3px solid #fb5455;
}


.container-right {
    width: 45%;
}

.container-right img {
    width: 100%;
    height: 100%;
}